<section class="container">
  <a
    mat-icon-button
    aria-label="Example icon button with a delete icon"
    routerLink="/"
  >
    <mat-icon>chevron_left</mat-icon>
  </a>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit inventore
    animi quam iste quasi ea molestias facere, iusto perferendis amet recusandae
    sunt ducimus dolores non sed praesentium temporibus modi nisi odio fugiat
    dicta maiores vitae! Tempore id aliquam cumque illo perspiciatis dolor quae
    fugit aspernatur ipsam sint dolorum veritatis aperiam quas consequuntur
    omnis laboriosam, non a perferendis similique, nesciunt quod culpa, velit
    distinctio! Ut dolorum animi cupiditate sequi, minima numquam dolorem
    aliquam ducimus molestias quia impedit nemo saepe? Distinctio libero, minus
    eligendi sapiente a amet in iste nobis consequatur quod enim velit nisi odit
    rem quia cum pariatur architecto reprehenderit!
  </p>
</section>
